html {
  font-family: "Nunito", sans-serif;
  overflow: hidden;
}

body {
  background-color: #223;
  margin: 0;
  padding: 0;
}

.date {
  display: flex;
  margin: auto;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.date-active-timetable {
  height: 170px;
  padding-top: 50px;
}

.submit,
.day-digit,
.selected-month {
  text-transform: uppercase;
  height: 70px;
  overflow: hidden;
  font-size: 50px;
  line-height: 50px;
  font-weight: 200;
  padding: 18px 50px 12px 50px;
  background: #548;
  color: #fff;
  margin: 0;
  border-radius: 20px;
}

.day-wrapper {
  display: flex;
}
.day-wrapper .day .arrow-up,
.day-wrapper .day .arrow-down {
  display: block;
  width: 25px;
  opacity: 0.5;
  z-index: 999;
  cursor: pointer;
}
.day-wrapper .day .arrow-up:hover,
.day-wrapper .day .arrow-down:hover {
  opacity: 1;
}
.day-wrapper .day .arrow-down {
  transform: rotate(180deg);
}
.day-wrapper .day .day-digit p {
  padding: 10px 0;
  margin: 0;
  transition: 0.3s;
}
.day-wrapper .day:first-child .arrow-up {
  margin: 0 5px 10px 50px;
}
.day-wrapper .day:first-child .arrow-down {
  margin: 10px 5px 0 50px;
}
.day-wrapper .day:first-child .day-digit {
  padding-right: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.day-wrapper .day:last-child .arrow-up {
  margin: 0 50px 10px 5px;
}
.day-wrapper .day:last-child .arrow-down {
  margin: 10px 50px 0 5px;
}
.day-wrapper .day:last-child .day-digit {
  padding-left: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.month-wrapper {
  margin-left: 40px;
}
.month-wrapper .arrow-up,
.month-wrapper .arrow-down {
  display: block;
  width: 25px;
  opacity: 0.5;
  z-index: 999;
  cursor: pointer;
  margin: 0 auto 10px auto;
}
.month-wrapper .arrow-up:hover,
.month-wrapper .arrow-down:hover {
  opacity: 1;
}
.month-wrapper .arrow-down {
  display: block;
  transform: rotate(180deg);
  margin: 10px auto 0 auto;
}
.month-wrapper .selected-month {
  text-align: center;
}
.month-wrapper .selected-month p {
  padding: 10px 0;
  margin: 0;
  transition: 0.3s;
}

.day-wrapper,
.month-wrapper {
  position: relative;
}
.day-wrapper::after,
.month-wrapper::after {
  content: " ";
  width: 100%;
  height: 100px;
  border-radius: 20px;
  display: block;
  position: absolute;
  box-shadow: inset 0 0 8px 20px #548;
  z-index: 999;
  top: 33px;
  left: 0;
}

.submit {
  font-size: 30px;
  font-weight: 500;
  margin-left: 40px;
  line-height: 70px;
  cursor: pointer;
}

.timetable {
  flex-direction: column;
  display: none;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 50px;
}
.timetable .current-week-day {
  color: #fff;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.timetable .timetable-column {
  display: none;
  flex-direction: column;
}
.timetable .timetable-column .timetable-row {
  display: flex;
}
.timetable .timetable-column .timetable-row .timetable-element {
  color: #fff;
  padding: 10px;
  text-align: right;
}
.timetable .timetable-column .timetable-row .timetable-element.time {
  width: 100px;
}
.timetable .timetable-column .timetable-row .timetable-element.lesson {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}/*# sourceMappingURL=style.css.map */