html {
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
    font-size: 8px;
}

body {
    background-color: #223;
    margin: 0;
    padding: 0;
}

.date {
    display: flex;
    margin: auto;
    width: 100vw;
    height: max-content;
    margin-top: calc(100vh/2);
    transform: translate(0, -50%);
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.date-active-timetable {
    margin-top: 5rem;
    transform: translate(0, 0);
}

.submit,
.day-digit,
.selected-month {
    text-transform: uppercase;
    height: 7rem;
    overflow: hidden;
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 200;
    padding: 1.8rem 5rem 1.2rem 5rem;
    background: #548;
    color: #fff;
    margin: 0;
    border-radius: 2rem;
}

.day-wrapper {
    display: flex;

    .day {

        .arrow-up,
        .arrow-down {
            display: block;
            width: 2.5rem;
            opacity: .5;
            z-index: 999;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }

        .arrow-down {
            transform: rotate(180deg);
        }

        .day-digit {
            p {
                padding: 1rem 0;
                margin: 0;
                transition: .3s;
            }
        }
    }

    .day:first-child {
        .arrow-up {
            margin: 0 .5rem 1rem 5.5rem;
        }

        .arrow-down {
            margin: 1rem .5rem 0 5.5rem;
        }

        .day-digit {
            padding-right: .5rem;
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
    }

    .day:last-child {
        .arrow-up {
            margin: 0 5.5rem 1rem .5rem;
        }

        .arrow-down {
            margin: 1rem .5rem 0 .5rem;
        }

        .day-digit {
            padding-left: .5rem;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}

.month-wrapper {
    margin-left: 4rem;

    .arrow-up,
    .arrow-down {
        display: block;
        width: 2.5rem;
        opacity: .5;
        z-index: 999;
        cursor: pointer;
        margin: 0 auto 1rem auto;

        &:hover {
            opacity: 1;
        }
    }

    .arrow-down {
        display: block;
        transform: rotate(180deg);
        margin: 1rem auto 0 auto;
    }

    .selected-month {
        text-align: center;

        p {
            padding: 1rem 0;
            margin: 0;
            transition: .3s;
        }
    }
}

.day-wrapper,
.month-wrapper {
    position: relative;

    &::after {
        content: " ";
        width: 100%;
        height: 10rem;
        border-radius: 2rem;
        display: block;
        position: absolute;
        box-shadow: inset 0 0 .8rem 2rem #548;
        z-index: 999;
        top: 3.3rem;
        left: 0;
    }
}

.submit {
    font-size: 3rem;
    font-weight: 500;
    margin-left: 4rem;
    line-height: 7rem;
    text-align: center;
    cursor: pointer;
}

.timetable {
    flex-direction: column;
    display: none;
    margin: auto;
    width: fit-content;
    padding-top: 5rem;

    .current-week-day {
        color: #fff;
        font-size: 4rem;
        font-weight: 500;
        text-align: center;
    }

    .timetable-column {
        display: flex;
        flex-direction: column;
        padding-top: 3rem;

        .timetable-row {
            display: flex;
            transition: .3s;

            .timetable-element {
                color: #fff;
                padding: 2rem;
                margin: 1rem;
                font-size: 2.5rem;
                font-weight: 200;
                background-color: #55448840;
                border-radius: 1rem;
                height: 3.4rem;
                transition: .3s;

                &.timetable-element-display {
                    height: 6.8rem;
                }

                &.time1,
                &.time2,
                &.time3,
                &.time4 {
                    width: 14.1rem;
                    text-align: right;
                }

                &.lesson1,
                &.lesson2,
                &.lesson3,
                &.lesson4 {
                    width: max-content;
                    flex-grow: 1;
                    text-align: left;
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    &:hover {
                        background-color: #55448880;
                    }
                }

                .lesson-description {
                    opacity: .5;
                    transform: scaleY(0);
                    transition: .3s;
                    transform-origin: top;

                    &.lesson-description-display {
                        transform: scaleY(1);
                        height: auto;
                    }
                }
            }
        }
    }
}

// .btn-edit {
//     position: fixed;
//     top: 40px;
//     left: 40px;
//     font-size: 2rem;
// }

@media screen and (max-width: 1000px) {
    html {
        font-size: calc(100vw/70);
    }

    .date {
        flex-direction: column;

        &>div {
            margin: 0;
            margin-bottom: 4rem;
            width: 50rem;

            &:last-child {
                margin-bottom: 0;
            }

            &:first-child {
                width: auto;
                margin: 0 auto 4rem auto;
            }
        }

        // &.date-active-timetable {
        //     justify-content: start;
        // }

        .submit {
            box-sizing: border-box;
            height: 10rem;
        }

        .day-wrapper {
            .day {
                .arrow-up,
                .arrow-down {
                    width: 4rem;
                }
            }

            .day:first-child {
                .arrow-up {
                    margin: 0 1.5rem 1rem 4.5rem;
                }

                .arrow-down {
                    margin: 1rem 1.5rem 0 4.5rem;
                }

                .day-digit {
                    padding-right: 2rem;
                }
            }

            .day:last-child {
                .arrow-up {
                    margin: 0 4.5rem 1rem 1.5rem;
                }
        
                .arrow-down {
                    margin: 1rem 4.5rem 0 1.5rem;
                }
        
                .day-digit {
                    padding-left: 2rem;
                }
            } 
        }

        .month-wrapper {   
            .arrow-up,
            .arrow-down {
                width: 4rem;
            }
        }

        .day-wrapper,
        .month-wrapper {
            &::after {
                content: " ";
                width: 100%;
                height: 10rem;
                border-radius: 2rem;
                display: block;
                position: absolute;
                box-shadow: inset 0 0 .8rem 2rem #548;
                z-index: 999;
                top: 4.6rem;
                left: 0;
            } 
        }
    }

    .timetable {
        padding-top: 2.5rem; //
    
        .current-week-day {
            font-size: 4rem; //
        }
    
        .timetable-column {
            .timetable-row {
                .timetable-element {
                    color: #fff;
                    padding: 1rem; //
                    margin: .5rem; //
                    font-size: 1.7rem; //
                    border-radius: 0.5rem; //
                    height: 2.3rem; //
    
                    &.timetable-element-display {
                        height: 4.6rem; //
                    }
    
                    &.time1,
                    &.time2,
                    &.time3,
                    &.time4 {
                        width: 9.6rem; //
                    }     
                }
            }
        }
    }
}